@value Palette:  "../globals/Palette";
@value Dark-Grey from Palette;

.root {
  margin-top: 5%;
}

.avatar {
  border: 2px solid Dark-Grey;
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
  height: 156px;
  width: 156px;
}
