.root {
  text-align: center;
}

.logo {
  height: 48px;
  position: relative;
  transform: translateY(13%);
  width: 48px;
  /* -webkit-filter: invert(100%); filter: invert(100%); */
  /* -webkit-filter: opacity(50%); filter: opacity(50%); */
}

.link {
  composes: root from '../atoms/NavItem';
}
