@value Palette: "../globals/Palette";
@value White, Blue-Grey-Darken-2 from Palette;

.card {
  display: flex;
  background-color: White;
  justify-content: space-between;
}

.chart {
  max-height: 40vh;
  max-width: 50vw;
  padding-bottom: 1%;
  padding-top: 1%;
}

.trades {
  padding-right: 3%;
  padding-top: 1%;
}

.trades-header {
  color: Blue-Grey-Darken-2;
  margin-left: 15%;
}
