@value Palette:  "../globals/Palette";
@value Blue, Dark-Grey, Green, Grey, Red, White from Palette;

@font-face {
  font-family: 'Arimo';
  src: url('../../assets/fonts/Arimo/Arimo-Regular.ttf') format('truetype');
}

body {
  background-color: White;
}

a {
  text-decoration: none;
}

a, div, li, p, span {
  font-family: 'Arimo', sans-serif;
}

/* label color */
:global .input-field label {
  color: Grey;
}

/* label focus color */
:global .input-field input[type=text]:focus + label {
  color: Grey;
}

:global .input-field input[type=number]:focus + label {
  color: Grey;
}

:global .input-field input[type=email]:focus + label {
  color: Grey;
}

:global .input-field input[type=password]:focus + label {
  color: Grey;
}

/* label underline focus color */
:global .input-field input[type=text]:focus {
  border-bottom: 1px solid Grey;
  box-shadow: 0 1px 0 0 Grey;
}

:global .input-field input[type=number]:focus {
  border-bottom: 1px solid Grey;
  box-shadow: 0 1px 0 0 Grey;
}

:global .input-field input[type=email]:focus {
  border-bottom: 1px solid Grey;
  box-shadow: 0 1px 0 0 Grey;
}
:global .input-field input[type=password]:focus {
  border-bottom: 1px solid Grey;
  box-shadow: 0 1px 0 0 Grey;
}

/* valid color */
:global .input-field input[type=text].valid {
  border-bottom: 1px solid Green;
  box-shadow: 0 1px 0 0 Green;
}

:global .input-field input[type=number].valid {
  border-bottom: 1px solid Grey;
  box-shadow: 0 1px 0 0 Grey;
}

:global .input-field input[type=email].valid {
  border-bottom: 1px solid Green;
  box-shadow: 0 1px 0 0 Green;
}

:global .input-field input[type=password].valid {
  border-bottom: 1px solid Green;
  box-shadow: 0 1px 0 0 Green;
}

/* invalid color */
:global .input-field input[type=text].invalid {
  border-bottom: 1px solid Red;
  box-shadow: 0 1px 0 0 Red;
}

:global .input-field input[type=number].invalid {
  border-bottom: 1px solid Red;
  box-shadow: 0 1px 0 0 Red;
}

:global .input-field input[type=email].invalid {
  border-bottom: 1px solid Red;
  box-shadow: 0 1px 0 0 Red;
}

:global .input-field input[type=password].invalid {
  border-bottom: 1px solid Red;
  box-shadow: 0 1px 0 0 Red;
}

/* indicator color */
:global .tabs .indicator {
  background-color: Grey;
}

/* icon prefix focus color */
:global .input-field .prefix.active {
  color: #000;
}
