@value Palette:  "../globals/Palette";
@value Blue, Dark-Grey, Green, Grey, Red, White from Palette;

.root {
  /*min-height: 85vh;*/
}

.hero-container {
  /*margin-left: 30%;
  width: 50%;*/
}

.logo-svg {
  height: 15%;
  position: relative;
  margin-bottom: 5%;
  transform: translateY(50%);
  width: 15%;
}
