@value Palette:  "../globals/Palette";
@value Blue, Dark-Grey, Green, Grey, Red, White from Palette;

.root {
  /*min-height: 85vh;*/
}

.hero-container {
  margin-left: 25%;
  width: 50%;
}

.logo-svg {
  height: 20%;
  position: relative;
  transform: translateY(50%);
  width: 20%;
}
